#!/usr/bin/make -f

export DH_GOPKG=github.com/dopaemon/fgofile
export DEB_BUILD_MAINT_OPTIONS=hardening=+all optimize=-lto

%:
	dh $@ --buildsystem=golang

override_dh_auto_test:
	@echo "Skipping go tests (no tests yet)"

# NEW: skip dwz for Go binaries
override_dh_dwz:
	@echo "Skipping dh_dwz for Go binary"
